
@{
    Layout = "_AccountLayout";
    ViewData["Ttile"] = "Parolamı Yenileme";
}
<div class="d-flex flex-column justify-content-center">
    <h2>Teşekkürler</h2>
    <p>
        parola yenileme işlemi başarıyla gerçekleşmiştir
    </p>
    <a asp-action="Login">Giriş Yap</a>
</div>