
@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a asp-action="Profile" asp-controller="Account">Active Orders</a>
            </li>
            <li class="nav-item">
                <a asp-action="History" asp-controller="Account">Order History</a>
            </li>
            <li class="nav-item">
                <a asp-action="Profile" asp-controller="Account">My Profile</a>
            </li>
            <li class="nav-item">
                <a asp-action="Profile" asp-controller="Account">My Addresses</a>
            </li>

        </ul>
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}